<div class="container">
  <div class="text-center text-white">
    <div><br></div>
    <img src="assets/z.jpg" class="rounded-circle img-responsive" alt="Me!">
    <p id="name">Jacky Liang</p>
    <p id="info">Class of ‘23 BComp. Software Engineering, Mapping and GIS Minor, University of Guelph</p>
    <p id="desc">Hello there, this is a personal website that also doubles as the place to host all my co-op work term reports. The site will grow as I add more components like side projects to it, so I hope you’ll have fun tracking its growth 🙂
    </p>
    <div><br></div>
  </div>
</div>
