<div class="container h-100 d-flex justify-content-center">
  <div class="text-center text-white">
    <img src="assets/header_icon.jpg" class="rounded-circle img-responsive" alt="Me!">
    <p id="name">Jacky Liang</p>
    <p id="info">20M, Class of ‘23 BComp. Software Engineering, University of Guelph</p>
    <p id="desc">Hello there, this is a personal website that also doubles as the place to host all my co-op work term reports. The site will grow as I add more components like side projects to it, so I hope you’ll have fun tracking its growth (:
    </p>
  </div>
</div>
