<div class="container text-center">
  <div><br></div>
  
  <div class="card text-black bg-info border-black">
    <div class="card-header"><p id="title">COMPANY DESCRIPTION</p></div>
    <div class="card-body">
      <p class="card-title" id="company">Rocket Innovation Studio</p>
      <p class="card-text" id="desc">
        Rocket Innovation Studio is a company based out of Windsor, Ontario that provides software development related services for partners. As a company founded in 2019 under the Rocket Companies brand, they primarly serve partners who are also part of the Rocket Companies umbrella. 
      </p>
    </div>
    <div class="card-footer">
      <small>Background image source: <a href="https://www.myrocketcareer.com/WindsorTech" target="_blank">Rocket Careers website</a></small>
    </div>
  </div>

  <div><br></div>
</div>
