<div class="container h-100 d-flex flex-column justify-content-center text-center">
  <div><br></div>
  
  <div class="card text-black bg-transparent border-black">
    <div class="card-header"><p id="title">EMPLOYER</p></div>
    <div class="card-body">
      <p class="card-title" id="company">Camis</p>
      <p class="card-text" id="desc">Camis is a company based out of Guelph that develops web and desktop solutions for all things camping related, from reservations to point of sale. Founded in 1979, major clients include Parks Canada and Michigan Parks.
      </p>
    </div>
  </div>

  <div><br></div>
</div>
