<div class="container text-center">
  <div><br></div>
  
  <div class="card text-black bg-transparent border-black">
    <div class="card-header"><p id="title">COMPANY DESCRIPTION</p></div>
    <div class="card-body">
      <p class="card-title" id="company">Camis</p>
      <p class="card-text" id="desc">Camis is a company based out of Guelph that develops web and desktop solutions for all things camping related, from reservations to point of sale. Founded in 1979, they're a key player in the end to end camping services niche. Major clients include Parks Canada and Michigan Parks.
      </p>
    </div>
    <div class="card-footer">
      <small>Background image source: <a href="https://www.camis.com" target="_blank">Camis corporate website</a></small>
    </div>
  </div>

  <div><br></div>
</div>
