<div class="container">
  <div><br></div>

  <div class="card text-center">
    <div class="card-header">
      <p id="title">TABLE OF CONTENTS</p>
    </div>
    <div class="card-body">
      <ul ngbNav class="nav nav-justified border-black list-group list-group-flush" orientation="vertical">
        <li ngbNavItem class="list-group-item" *ngFor="let anchor of anchors">
          <a ngbNavLink class="link" (click)="scroll(anchor.link)">{{ anchor.name }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div><br></div>
</div>
