<div class="container justify-content-center text-center">
  <div><br></div>

  <div class="card border-dark">
    <div class="card-header bg-white text-dark">
      <p class="title">BONUS</p>
    </div>
    <div class="card-body text-dark">
      <p class="card-title blurb">An aside about the QA and dev mix for this particular position!</p>
    </div>
  </div>

  <div><br></div>

  <div class="card text-white bg-info border-black">
    <div class="card-body">
      <div class="card-text">
        <p class="content">The combination aspect of this co-op position where QA and dev crossed paths in the form of automation was a lot more fun than I had expected!</p>
        <p class="content">It's not to say that I had low expectations, but rather, my expectations with regards to the meat and potatoes of the position were subverted.</p>
        <p class="content">The unique situation where I managed an automation related codebase that was not exposed to end users meant that I had a bit more leeway with regards to trying out new things, and this was really nice, as it resulted in several improvements to test code that came about from experimentation.</p>
        <p class="content">I can now definitely conclude that even though this position was not the straight development position that is highly coveted amoing co-op students, it was eye opening in several ways, and in the end, I coded just as much as my previous development related co-op position, if not even more!</p>
      </div>
    </div>
  </div>

  <div><br></div>
</div>
