<div class="container justify-content-center text-center">
  <div><br></div>

  <div class="card border-dark">
    <div class="card-header bg-white text-dark">
      <p class="title">BONUS</p>
    </div>
    <div class="card-body text-dark">
      <p class="card-title blurb">You thought we were done, but the bonus showed up (yet again!!) 😉</p>
    </div>
  </div>

  <ng-template #popQuote1>
    <blockquote class="blockquote">
      <p class="quote">A previous QA work term doesn't really mean much once you get a developer job in a work term down the line lol</p>
      <footer class="blockquote-footer content">Anonymous</footer>
    </blockquote>
  </ng-template>

  <div><br></div>

  <div class="btn-group">
    <button type="button" class="btn btn-lg btn-danger" triggers="mouseenter:mouseleave" placement="bottom" container="body" [ngbPopover]="popQuote1">Common misiconception</button>
  </div>

  <div><br></div>

  <div class="card text-white bg-info border-black">
    <div class="card-body">
      <div class="card-text">
        <p class="content">This is an opinion that I see going around a lot, especially during the job search period when students are rushing to land job offers.</p>
        <p class="content">Now that I've had a work term of each type under my belt, I can say that this definitely is not true!!</p>
        <p class="content">By having some previous QA experience, even though there is little to no coding involved, you make yourself a better programmer by virtue of knowing how to write more robust code since as QA, you often encounter testing situations in which code hasn't been fully tested, leading to avoidable bugs. Thus, through these situations you can learn how to write better code and not repeat the mistakes others have made.</p>
        <p class="content">At the end of the day, both QA and developer jobs are technical jobs in the field. It's never a bad idea to diversify your skills and experiences by working in both fields!</p>
      </div>
    </div>
  </div>

  <div><br></div>
</div>
