<div class="container justify-content-center text-center">
  <div><br></div>

  <div class="card border-dark">
    <div class="card-header bg-white text-dark">
      <p class="title">BONUS</p>
    </div>
    <div class="card-body text-dark">
      <p class="card-title blurb">Working during crunch time</p>
    </div>
  </div>

  <div><br></div>

  <div class="card text-white bg-info border-black">
    <div class="card-body">
      <div class="card-text">
        <p class="content">Around March, the team was notified that a feature that had been planned to take two months to develop was to be expedited to be delivered in four weeks.</p>
        <p class="content">A time crunch is something that is undesireable at best and downright derailing at worst, and is generally not something that people want to be in. However, the time crunch we were subjected gave me a lot of experience that others my age would be hard pressed to have, so I am grateful to have experienced something like it in a somewhat controlled environment early on in my career.</p>
        <p class="content">We learned about things like time crunches and how to deal with them in the software design series of courses, so I had a rough idea of what was going to happen. That being said, it was still really cool to see the things we learned about in action though, such as things like increasing team size as a mitigation strategy.</p>
        <p class="content">During the time crunch, I functioned as a sixth man of sorts, taking on smaller tasks that would enhance the overall experience while leaving the bigger stories for the other, more experienced team members. The month passed very quickly, with everyone working collaborating and working together like a production line and we managed to deliver the product fully tested and on time, so it ended up being an awesome experience!</p>
      </div>
    </div>
  </div>

  <div><br></div>
</div>
