<div class="container">
  <div><br></div>

  <div class="card border-dark text-center">
    <div class="card-header bg-white text-dark">
      <p class="title">GOALS</p>
    </div>
    <div class="card-body text-dark">
      <p class="card-title target">I set three goals for myself this work term, and fully accomplished all of them!</p>
    </div>
  </div>

  <div><br></div>
  
  <nav ngbNav #nav="ngbNav" class="nav-pills nav-justified bg-warning">
    <ng-container ngbNavItem>
      <a ngbNavLink class="goals">Goal #1</a>
      <ng-template ngbNavContent>
        <br>
        <p class="text-center target">Be able to work at the level of an associate software developer</p>
        <p class="text-center content">With this work term, I got the chance to work on both large and small stories alike, along with many different types of tasks like new features, bugs, analyses, and technical debt. I typically averaged about 6 story points an iteration or more. I am able to complete the smaller stories without much help, while for the larger stories, I sometimes ask my seniors for advice given it has always been useful. Given all this, along with the fact that my leader telling me that he basically considers me as an integral part of the team at an associate level, I think this goal has been fully completed!</p>
        <br>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink class="goals">Goal #2</a>
      <ng-template ngbNavContent>
        <br>
        <p class="text-center target">Improve software development skills</p>
        <p class="text-center content">On the backend side of things, I worked extensively with backend technologies, mainly with data APIs using C#. As such, I was able to learn and leverage new skills and tecnhologies to broaden my horizon (SignalR and Cosmos DB come to mind).
          For the frontend, with previous co-op placements, I had not worked with frontend technologies much due to primarily backend nature of the teams I was placed on. This time around, I was able to work extensively with both Angular and plain JavaScript/HTML/CSS, learning many new UI concepts along the way.
          
          I was able to combine these new and existing skills and developed a working, basic chatroom application, so I would say this goal was knocked out of the park!</p>
        <br>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink class="goals">Goal #3</a>
      <ng-template ngbNavContent>
        <br>
        <p class="text-center target">	Become proficient at effectively presenting in front of an audience</p>
        <p class="text-center content">I have been able to improve in this area. I have successfully hosted several recurring meetings for the team without help from other team members, which shows a marked improvement overall. Additionally, I was also able to write and host a presentation about my co-op journey at the company to my team and the company's leadership team. While improvements could still be made, especially with the self-written and hosted presentation, I would say I have made significant strides with this goal!</p>
        <br>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="bg-warning"></div>
  <div><br></div>

  <div class="card-deck">
    <div class="card border-dark bg-success">
      <div class="card-body">
        <p class="card-text text-white text-left content">
          I wanted to pick up some technologies that I have not had the chance to work with in depth, along with some completely new technologies if possible. A technology that I had not worked with much came in the form of Angular, which I had only worked with briefly at a previous placement since that placement was mostly focused on backend technologies. I also got to work with completely new technologies in the form of SignalR for event handling and Microsoft Cosmos DB for NoSQL databases. Picking up these technologies will surely help in the future whether it be in a school setting or in a work setting, as they are very commonly used technologies with concepts that are easily transferrable to other related technologies should the need arise.</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-white">Technologies I wanted to work with</small>
      </div>
    </div>

    <div class="card border-dark bg-white text-center">
      <div class="card-body">
        <p class="card-text content">To develop some leadership skills, I was given the opportunity to lead a few daily stand-ups, along with other major team meetings like the iteration planning meeting. I was also able to figure out strategies to thrive under pressure when working under a time crunch scenario. This allowed me to truly appreciate the planning that goes into each feature to make sure delivery is also smooth as possible. From these experiences, I was able to build out a nice set of meeting, presentation and time management related competencies, which should help me greatly in the future, no matter who I work with or where I work.</p>
      </div>
      <div class="card-footer">
        <small>Learning new skills, improving existing skills and their impact in the future</small>
      </div>
    </div>

    <div class="card border-dark bg-secondary">
      <div class="card-body">
        <p class="card-text text-right content">As always, for this work term my goals were rather cohesive with the tasks that this co-op position entailed. By picking up new skills and technologies for both the frontend and backend of the application, I am able to complete a wider variety of tasks, rather than being limited to say just the backend because I am not familiar with frontend technologies, or vice versa. Additionally, by being able to present effectively, I can step up to the plate and represent the team as needed, easing the overall workload of the team and increasing the cross-functional nature of the position. Overall, the three goals and the job mesh together very well.</p>
      </div>
      <div class="card-footer text-center">
        <small>Relating goals to job tasks</small>
      </div>
    </div>
  </div>

  <div><br></div>
</div>