<div class="container">
  <div><br></div>

  <div class="card border-dark text-center">
    <div class="card-header bg-white text-dark">
      <p class="title">GOALS</p>
    </div>
    <div class="card-body text-dark">
      <p class="card-title target">I set three goals for myself this work term, and fully accomplished all of them!</p>
    </div>
  </div>

  <div><br></div>
  
  <nav ngbNav #nav="ngbNav" class="nav-pills nav-justified bg-warning">
    <ng-container ngbNavItem>
      <a ngbNavLink class="goals">Goal #1</a>
      <ng-template ngbNavContent>
        <br>
        <p class="text-center target">Improve knowledge of C# and web related technolgies</p>
        <p class="text-center content">I have definitely improved upon my knowledge of C# and web related related technologies. With regards to C# Javascript/TypeScipt, I no longer need to google things concepts often and can get straight to writing my own code most of the time. Within the Angular framework though, since I did not do much work this term using Angular there are still things I need to use guides for.</p>
        <br>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink class="goals">Goal #2</a>
      <ng-template ngbNavContent>
        <br>
        <p class="text-center target">Improve knowledge of codebase (where each component exists in the source code hierarchy)</p>
        <p class="text-center content">	I made some improvements in this area. For areas that I worked on a lot in the code, I immediately knew where to look when working on an issue. For areas that I worked less on, there would be a bit of searching, but it was usually really fast since I had a good grasp of the overall hierarchical structure of the code.</p>
        <br>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink class="goals">Goal #3</a>
      <ng-template ngbNavContent>
        <br>
        <p class="text-center target">Better gauge when it's time to ask for help instead of floundering on a roadblock</p>
        <p class="text-center content">	I have definitely been able to improve in this area. By the end of the workterm, although there was less of a need to ask questions overall, when needed I would ask for earlier (45m) than I had earlier in the workterm (~1h-1h15m) trying to solve the problem alone.</p>
        <br>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="bg-warning"></div>
  <div><br></div>

  <div class="card-deck">
    <div class="card border-dark bg-success">
      <div class="card-body">
        <p class="card-text text-white text-left content">I wanted to get a good grasp on a new language I hadn't tried out before in the form of C#. In additional to using C# effectively daily for four months, I also got to dabble a bit with the Angular framework! With the unit testing side of things, I got to try out NUnit, FluentAssertions (for C# stuff) and Jest (for web stuff). Going forward, knowledge of these technologies will deifnitely help with schoolwork and work terms alike.</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-white">Technologies I wanted to work with</small>
      </div>
    </div>

    <div class="card border-dark bg-white text-center">
      <div class="card-body">
        <p class="card-text content">As this was my first work term dealing with development, I learned of several methods teams used to keep track of their progress and pick up more work. Of these methods, the two that stood out to me the most were the weekly meetings to groom the backlog and the readiness replenishment to tyake on more work. By taking a part in these meetings, I am now able to roughly estimate how much work a task may contain, which will definitely allow me to hit the ground running wherever my next work term takes me.</p>
      </div>
      <div class="card-footer">
        <small>Learning new skills and their impact in the future</small>
      </div>
    </div>

    <div class="card border-dark bg-secondary">
      <div class="card-body">
        <p class="card-text text-right content">This work term, all my goals are rather cohesive with the job itself, even if one of them (goal #3) is applicable to any job. Knowing your way around a language in additional to the codebase that your are working on is something that comes as part of being developer. While knowing when to ask for help is part of any job, it is still rather important as a developer since by asking for help you open up faster fethods for solving the same problem, like pair programming.</p>
      </div>
      <div class="card-footer text-center">
        <small>Relating goals to job tasks</small>
      </div>
    </div>
  </div>

  <div><br></div>
</div>