<div class="container">
  <div><br></div>

  <div class="card border-dark text-center">
    <div class="card-header bg-white text-dark">
      <p class="title">GOALS</p>
    </div>
    <div class="card-body text-dark">
      <p class="card-title target">I set three goals for myself this work term, and fully accomplished all of them!</p>
    </div>
  </div>

  <div><br></div>
  
  <nav ngbNav #nav="ngbNav" class="nav-pills nav-justified bg-warning">
    <ng-container ngbNavItem>
      <a ngbNavLink class="goals">Goal #1</a>
      <ng-template ngbNavContent>
        <br>
        <p class="text-center target">Become knowledgeable regarding automation for the Hybrid product</p>
        <p class="text-center content">I was able to automate over half of the existing manual regression suite, either partially or fully, and I'd say I'm very familiar with the ins and outs of Cypress, so I'd say that I smashed this goal! There are still some things regarding automation that I need to poke around for when looking for documentation but overall, compared to where I began, I think significant strides have been made.</p>
        <br>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink class="goals">Goal #2</a>
      <ng-template ngbNavContent>
        <br>
        <p class="text-center target">Increase work efficiency to take ownership of the Hybrid automation component</p>
        <p class="text-center content"> 		With regards to this area, I was able to increase my work pace by quite a bit! With each successive iteration, I was able to increase my workload such that I actually completed all the technically feasible portions of the new automation feature ahead of time by around one week!</p>
        <br>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink class="goals">Goal #3</a>
      <ng-template ngbNavContent>
        <br>
        <p class="text-center target">Develop skills relating to the creation and execution of test plans</p>
        <p class="text-center content">I have been able to improve in this area. I can now create and update regression test plans without needing input from anyone else, which is a great improvement. Additionally, I also learned how to maintain regression test suites as well, updating manual test cases as required whenever the test contents changed, which is a nice skill to pick up.</p>
        <br>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="bg-warning"></div>
  <div><br></div>

  <div class="card-deck">
    <div class="card border-dark bg-success">
      <div class="card-body">
        <p class="card-text text-white text-left content">
          Seeing as I already had development experience and manual QA testing experience, I thought it would be nice to pick up something that combines the two concepts together. That's where this co-op position came in, and the thing I ended up picking up was Cypress, which is an automated test runner. After having used it basically daily for three and a half months, I can say I am very familiar with it! This knowledge will definitely help me in the future if I need to interact with anything test related, both from a schoolwork perspective and a work term perspective.</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-white">Technologies I wanted to work with</small>
      </div>
    </div>

    <div class="card border-dark bg-white text-center">
      <div class="card-body">
        <p class="card-text content">This work term, rather than developing development or coding related skills, the focus was instead on building project management related skills. To this end, I was given the opportunity to lead a few daily stand-ups, and was able to represent the entire team on one occassion for a go-no go meeting. From these experiences, I was able to build out a nice set of meeting and presentation related competencies, which should help me greatly in the future, no matter who I work with or where I work.</p>
      </div>
      <div class="card-footer">
        <small>Learning new skills and their impact in the future</small>
      </div>
    </div>

    <div class="card border-dark bg-secondary">
      <div class="card-body">
        <p class="card-text text-right content">Once again, for this term my goals were rather cohesive with the tasks that this co-op position entailed. By being knowledgeable about regression test plans and knowing the ins and outs of how the automated test suite works for a product, you are enabling yourself to work more efficiently, since you can then diagnose and rectify any issues far more quickly. This also couples into my goal for working more efficiently, which makes all three goals mesh together very well!</p>
      </div>
      <div class="card-footer text-center">
        <small>Relating goals to job tasks</small>
      </div>
    </div>
  </div>

  <div><br></div>
</div>