<div class="container">
  <div><br></div>
  
  <div class="card border-dark text-center">
    <div class="card-header bg-white text-dark">
      <p class="title">JOB DESCRIPTION</p>
    </div>
    <div class="card-body text-dark">
      <p class="card-title job">Software Developer Co-op</p>
    </div>
  </div>

  <div><br></div>

  <div class="card-deck">
    <div class="card text-white bg-danger border-dark">
      <div class="card-body">
        <p class="card-text content">Deliver value by leveraging relevant technologies to develop and maintain software that satisfies business needs.</p>
      </div>
      <div class="card-footer text-center">
        <small>Daily tasks</small>
      </div>
    </div>

    <div class="card text-white bg-success border-dark text-center">
      <div class="card-body">
        <p class="card-text content">Collaborating with team members as required to complete tasks.</p>
      </div>
      <div class="card-footer">
        <small>Daily tasks</small>
      </div>
    </div>

    <div class="card text-white bg-primary border-dark">
      <div class="card-body">
        <p class="card-text text-right content">Attend (and host, if required) meetings to track squad progress on a variety of issues and plan ahead for future work.</p>
      </div>
      <div class="card-footer text-center">
        <small>Daily tasks</small>
      </div>
    </div>
  </div>

  <div><br></div>

  <div class="card text-white bg-dark border-dark text-center">
    <div class="card-header">
      <p class="title">HIGHTLIGHT OF THE JOB </p>
    </div>
    <div class="card-body">
      <p class="card-text content">
        Once again, this combined work term was full of highlights. Aside from being able to work during a time crunch, which I will cover later, I also got to explore a lot of new technologies and worked with great people. I would say the largest highlight this work term was being given the opportunity to visit the company's offices in Windsor as part of a celebration. During the five days I spent in Windsor, I got my first experience of working in an office and seeing (along with hanging out with) all the people that I usually see as a set of pixels in a screen in the flesh, so there were many cool moments to be had! That definitely makes this the highlight of the job for me!
      </p>
    </div>
  </div>

  <div><br></div>

  <div class="text-center">
    <ngbs-wts-modal></ngbs-wts-modal>
  </div>

  <div><br></div>
</div>
