<div class="container">
  <div><br></div>
  
  <div class="card border-dark text-center">
    <div class="card-header bg-white text-dark">
      <p class="title">JOB DESCRIPTION</p>
    </div>
    <div class="card-body text-dark">
      <p class="card-title job">Software Quality Developer Co-op</p>
    </div>
  </div>

  <div><br></div>

  <div class="card-deck">
    <div class="card text-white bg-danger border-dark">
      <div class="card-body">
        <p class="card-text content">Contribute to automated test coverage of product by coding new tests to replace manual regression tests as required.</p>
      </div>
      <div class="card-footer text-center">
        <small>Daily tasks</small>
      </div>
    </div>

    <div class="card text-white bg-success border-dark text-center">
      <div class="card-body">
        <p class="card-text content">Developing regression test suites on a bi-iteration basis to make sure product functions as expected.</p>
      </div>
      <div class="card-footer">
        <small>Daily tasks</small>
      </div>
    </div>

    <div class="card text-white bg-primary border-dark">
      <div class="card-body">
        <p class="card-text text-right content">Attend stand-up meetings to track squad progress on a variety of issues.</p>
      </div>
      <div class="card-footer text-center">
        <small>Daily tasks</small>
      </div>
    </div>
  </div>

  <div><br></div>

  <div class="card text-white bg-dark border-dark text-center">
    <div class="card-header">
      <p class="title">HIGHTLIGHT OF THE JOB </p>
    </div>
    <div class="card-body">
      <p class="card-text content">
        I would say the entire work term was pretty much a continuous highlight reel. From the get go, I was given what was effectively full control over the fledging automated test suite and tasked with improving it by aligning the styling and increasing automated test coverage. It was really nice to see all the effort and teamwork put in come together in the form of a unified codebase and minimal test failures! Being able to walk away at the end of the term and say "I spearheaded the effort to boost automation" is a very nice and rewarding feeling indeed!
        </div>
  </div>

  <div><br></div>

  <div class="text-center">
    <ngbs-wts-modal></ngbs-wts-modal>
  </div>

  <div><br></div>
</div>
