<div class="container h-100 d-flex flex-column justify-content-center text-center">
  <div><br></div>
  
  <div class="card border-dark" id="desc-card">
    <div class="card-header bg-white text-dark">
      <h3>JOB DESCRIPTION</h3>
    </div>
    <div class="card-body text-dark">
      <h5 class="card-title">Quality Assurance Co-op</h5>
    </div>
  </div>

  <div><br></div>

  <div class="card-deck">
    <div class="card text-white bg-danger">
      <div class="card-body">
        <p class="card-text">Regression testing on multiple clients whenever a new version was scheduled to be released</p>
      </div>
      <div class="card-footer">
        <small>Daily tasks</small>
      </div>
    </div>

    <div class="card text-white bg-success">
      <div class="card-body">
        <p class="card-text">Testing tickets related to client reported issues to see if they were legitimate issues and responding to them as appropriate</p>
      </div>
      <div class="card-footer">
        <small>Daily tasks</small>
      </div>
    </div>

    <div class="card text-white bg-primary">
      <div class="card-body">
        <p class="card-text">Retesting fixed tickets to confirm the issues have been resolved according to the client’s needs</p>
      </div>
      <div class="card-footer">
        <small>Daily tasks</small>
      </div>
    </div>
  </div>

  <div><br></div>

  <div class="card text-white bg-dark">
    <div class="card-header">
      <h3>UNIQUE ASPECTS OF THE JOB </h3>
    </div>
    <div class="card-body">
      <p class="card-text">The interesting juxtaposition of the QA team with respect to the developers and the client made the job very unique: nearly all issues that clients report come by the QA team and we try our best to pass along the client’s concerns while adding on with our own technical knowledge of the product to create the most straightforward product feedback that the devs can then build upon to improve the product</p>
    </div>
  </div>

  <div><br></div>

  <ngbs-wts-modal></ngbs-wts-modal>

  <div><br></div>
</div>
