<div class="container h-100 d-flex flex-column justify-content-center text-center">
  <div><br></div>

  <div class="mx-auto">
    <ngb-accordion type="warning">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <p class="title">CONCLUSION</p>
        </ng-template>

        <ng-template ngbPanelContent>
          <p class="content">And that's it, we've reached the end of the work term, and the end of the work term report as well. I hope you had as much fun reading this as I did designing and coding this website! Despite the pecuilar circumstances with COVID-19 forcing the work term to be entirely remote, it was honestly an eye opener to see how a tech based company operates on a day to day basis. There's definitely more than what meets the eye when it comes to operating the machine that is a company 😉. I definitely picked up many new skills for the future, and I achieved the goals I set out for myself. After it's all said and done, I'm very glad Camis gave me the opportunity to have an extremely rewarding first (and second, too, coming up this fall!) work experience in the field.</p>
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle>
          <p class="title">ACKNOWLEDGEMENTS</p>
        </ng-template>
        
        <ng-template ngbPanelContent type="warning">
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
              <p class="content">To everyone at Camis for allowing me to have a wonderful experience as part of my first work term and enduring all my noob questions at work 😀</p>
            </li>
            <li class="list-group-item list-group-item-secondary">
              <p class="content">To all the people behind the scenes at the University of Guelph who make the co-op program possible for students even amid the unprecedented circumstances we find ourselves in currently 💪</p>
            </li>
            <li class="list-group-item list-group-item-success">
              <p class="content">To my longtime buddy who forced me to write up the report and design the website before coding it 😜</p>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

  <div><br></div>
</div>