<div class="container">
  <div><br></div>

  <div class="text-center">
    <ngb-accordion type="warning">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <p class="title">CONCLUSION</p>
        </ng-template>

        <ng-template ngbPanelContent>
          <p class="content">
            And there we go, another work term complete, and another work term report complete! Hopefully this report was fun to read! This was yet again another remote work term, but I still picked up many new things and honestly, this work term completely exceeded my expectations! After this work term, I definitely would not mind working a long term full time position that deals with developing automated tests, as it was very fun and rewarding! I'm looking forward to seeing where co-op takes me next, and hopefully the ride does not let up!</p>
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle>
          <p class="title">SPECIAL THANKS</p>
        </ng-template>
        
        <ng-template ngbPanelContent type="warning">
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
              <p class="content">To everyone at Rocket Innovation Studio for allowing a newbie with no automation experience to take a swing at building automation coverage from the bottom up!</p>
            </li>
            <li class="list-group-item list-group-item-secondary">
              <p class="content">To all the people behind the scenes at the University of Guelph who make the co-op program possible for students even amid the unprecedented circumstances we continue to find ourselves in currently 💪</p>
            </li>
            <li class="list-group-item list-group-item-success">
              <p class="content">To all the memes and YouTube videos that allowed me to power through 2021!</p>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

  <div><br></div>
</div>