<div class="container">
  <div><br></div>

  <div class="text-center">
    <ngb-accordion type="warning">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <p class="title">CONCLUSION</p>
        </ng-template>

        <ng-template ngbPanelContent>
          <p class="content">
            And the final co-op work term report, along with the fifth and final co-op work term itself are complete! Hopefully this report properly conveyed all the feelings I had during the past eight months! Settling back into a developer role, I managed to pick up many new skills and learned about a lot of new technologies, so I think I can rate this as the most fuffilling co-op term I have had. Co-op has been a fun ride from start to finish, and it has definitely prepared me for what is to come after graduation in a lot of ways I did not expect, so I am very glad I got the chance to work while at school!</p>
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle>
          <p class="title">SPECIAL THANKS</p>
        </ng-template>
        
        <ng-template ngbPanelContent type="warning">
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
              <p class="content">To everyone at Rocket Innovation Studio for allowing me to return as a software developer!</p>
            </li>
            <li class="list-group-item list-group-item-secondary">
              <p class="content">To all the people behind the scenes at the University of Guelph who make the co-op program possible for students even amid the unprecedented circumstances we continue to find ourselves in currently 💪</p>
            </li>
            <li class="list-group-item list-group-item-success">
              <p class="content">To all the memes and YouTube videos that allowed me to power through the first three quarters of 2022!</p>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

  <div><br></div>
</div>