<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="header">
  <div class="my-auto">
    <app-header></app-header>
  </div>
</div>

<div class="py-5 bg-danger">
  <blockquote class="blockquote text-center">
    <p>WORK TERM #2, FALL 2020: ELECTRIC BOOGALOO</p>
    <footer class="blockquote-footer text-white">Me, as I started the work term and the pandemic was still a thing</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="tbl">
  <div class="my-auto">
    <app-tbl-content></app-tbl-content>
  </div>
</div>

<div class="py-5 bg-info">
  <blockquote class="blockquote text-center">
    <p>I'm a mega 🤡</p>
    <footer class="blockquote-footer text-white">Me, random work thought #1</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="comp-desc">
  <div class="my-auto">
    <app-company-desc></app-company-desc>
  </div>
</div>

<div class="py-5 bg-success">
  <blockquote class="blockquote text-center">
    <p>Bruhhh How did I not notice that missing [period, comma, semicolon, colon]??</p>
    <footer class="blockquote-footer text-white">Me, random work thought #2</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="job-desc">
  <div class="my-auto">
    <app-job-desc></app-job-desc>
  </div>
</div>

<div class="py-5 bg-primary">
  <blockquote class="blockquote text-center">
    <p>My Spotify unwrapped is only going to contain songs not in English bruhhh...</p>
    <footer class="blockquote-footer text-white">Me, random work thought #3</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="goals">
  <div class="my-auto">
    <app-goals></app-goals>
  </div>
</div>

<div class="py-5 bg-white">
  <blockquote class="blockquote text-center">
    <p>Bruh how come this isn't compiling?</p>
    <footer class="blockquote-footer">Me, random work thought #4</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="bonus">
  <div class="my-auto">
    <app-bonus></app-bonus>
  </div>
</div>

<div class="py-5 bg-dark">
  <blockquote class="blockquote text-white text-center">
    <p>That's a certified bruh moment if I've ever seen one.</p>
    <footer class="blockquote-footer">Me, random work thought #5</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="conc-ack">
  <div class="my-auto">
    <app-conclusion-ack></app-conclusion-ack>
  </div>
</div>
