<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="header">
  <div class="my-auto">
    <app-header></app-header>
  </div>
</div>

<div class="py-5 bg-danger">
  <blockquote class="blockquote text-center">
    <p>WORK TERM #1, SUMMER 2020, LET'S GOOO!</p>
    <footer class="blockquote-footer text-white">Me, sometime near the beginning of the work term</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="wtr">
  <div class="my-auto">
    <app-company-desc></app-company-desc>
  </div>
</div>

<div class="py-5 bg-success">
  <blockquote class="blockquote text-center">
    <p>Man I'm a fool for playing myself with this test case bruhhh...</p>
    <footer class="blockquote-footer text-white">Me, random work thought #1</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="job-desc">
  <div class="my-auto">
    <app-job-desc></app-job-desc>
  </div>
</div>

<div class="py-5 bg-primary">
  <blockquote class="blockquote text-center">
    <p>My Spotify best of music is just gonna be like 10 songs on repeat bruhhh...</p>
    <footer class="blockquote-footer text-white">Me, random work thought #2</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="goals">
  <div class="my-auto">
    <app-goals></app-goals>
  </div>
</div>

<div class="py-5 bg-white">
  <blockquote class="blockquote text-center">
    <p>Bruh I haven't actually listened to a song in English for a few months, have I, huh?</p>
    <footer class="blockquote-footer">Me, random work thought #3</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="bonus">
  <div class="my-auto">
    <app-bonus></app-bonus>
  </div>
</div>

<div class="py-5 bg-dark">
  <blockquote class="blockquote text-white text-center">
    <p>I'm a certified clown.</p>
    <footer class="blockquote-footer">Me, random work thought #4</footer>
  </blockquote>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="conc-ack">
  <div class="my-auto">
    <app-conclusion-ack></app-conclusion-ack>
  </div>
</div>
