.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  color: black;
}

.bgimg-1 {
  background-image: url("../assets/a.png");
}

.bgimg-2 {
  background-image: url("../assets/test.jpg");
}

.bgimg-3 {
  background-image: url("../assets/b.png");
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}