.p-scroll  {
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  color: black;
}

#header {
  background-image: url("../assets/a.png");
}

#wtr {
  background-image: url("../assets/test.jpg");
}

#job-desc {
  background-image: url("../assets/b.png");
}

#goals {
  background-image: url("../assets/c.png");
}

#bonus {
  background-image: url("../assets/c.png");
}

#conc-ack {
  background-image: url("../assets/d.png");
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .p-scroll {
    background-attachment: scroll;
  }
}
