<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="header">
  <div class="my-auto">
    <app-header></app-header>
  </div>
</div>

<div class="py-5 bg-white">
  <h3 class="text-center">WORK TERM 1 REPORT, SUMMER 2020</h3>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="wtr">
  <div class="my-auto">
    <app-company-desc></app-company-desc>
  </div>
</div>

<div class="py-5 bg-white">
  <h3 class="text-center">Certified clown.</h3>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="job-desc">
  <div class="my-auto">
    <app-job-desc></app-job-desc>
  </div>
</div>

<div class="py-5 bg-white">
  <h3 class="text-center">Certified clown.</h3>
</div>

<div class="p-scroll h-100 d-flex justify-content-center overflow-auto" id="goals">
  <div class="my-auto">
    <app-conclusion></app-conclusion>
  </div>
</div>

<div class="py-5 bg-white">
  <h3 class="text-center">Certified clown.</h3>
</div>